---
import Layout from "../layouts/Layout.astro";
import Help from "../assets/icons/Help.astro";
import Language from "../assets/icons/Language.astro";
import Profile from "../assets/icons/Profile.astro";
---

<Layout title='Tesla Landing By David Bustos'>
  <main>
    <header
      class='py-3 px-10 flex items-center fixed w-full justify-between z-40 text-white'
    >
      <div class='flex flex-grow basis-0'>
        <svg
          class='h-6 w-32'
          viewBox='0 0 342 35'
          xmlns='http://www.w3.org/2000/svg'
          ><path
            d='M0 .1a9.7 9.7 0 0 0 7 7h11l.5.1v27.6h6.8V7.3L26 7h11a9.8 9.8 0 0 0 7-7H0zm238.6 0h-6.8v34.8H263a9.7 9.7 0 0 0 6-6.8h-30.3V0zm-52.3 6.8c3.6-1 6.6-3.8 7.4-6.9l-38.1.1v20.6h31.1v7.2h-24.4a13.6 13.6 0 0 0-8.7 7h39.9v-21h-31.2v-7h24zm116.2 28h6.7v-14h24.6v14h6.7v-21h-38zM85.3 7h26a9.6 9.6 0 0 0 7.1-7H78.3a9.6 9.6 0 0 0 7 7zm0 13.8h26a9.6 9.6 0 0 0 7.1-7H78.3a9.6 9.6 0 0 0 7 7zm0 14.1h26a9.6 9.6 0 0 0 7.1-7H78.3a9.6 9.6 0 0 0 7 7zM308.5 7h26a9.6 9.6 0 0 0 7-7h-40a9.6 9.6 0 0 0 7 7z'
            fill='currentColor'></path></svg
        >
      </div>
      <nav>
        <ul
          class='flex flex-wrap text-sm [&>li>a]:inline-block font-medium [&>li>a]:px-4 [&>li>a]:py-2'
        >
          <li><a href='#'>Vehicles</a></li>
          <li><a href='#'>Energy</a></li>
          <li><a href='#'>Charging</a></li>
          <li><a href='#'>Discover</a></li>
          <li><a href='#'>Shop</a></li>
        </ul>
      </nav>

      <nav class='flex flex-grow justify-end
			 basis-0'>
        <ul
          class='flex flex-wrap text-sm [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2'
        >
          <li><a href='#'><Help /></a></li>
          <li><a href='#'><Language /></a></li>
          <li>
            <a href='#'>
              <Profile />
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <section
      class='landing-section bg-black h-screen w-screen text-center overflow-hidden relative'
    >
      <div class='z-30 relative h-full flex flex-col'>
        <header>
          <h1 class='text-4xl pt-20 text-white font-medium'>Model S</h1>
          <p class='text-white text-base pt-3'>Lease starting at $379/mo*</p>
        </header>

        <footer class='flex flex-col flex-grow justify-end pb-12'>
          <div class='gap-4'>
            <a
              class='text-gray-900 min-w-64 bg-gray-100 hover:bg-gray-200 font-medium rounded-md text-sm px-5 py-2.5 text-center justify-center inline-flex items-center dark:focus:ring-gray-500 me-2 mb-2'
              href='#'>Custom Order</a
            >
            <a
              class='text-white min-w-64 bg-black/60 blur-[0.3px] focus:ring-4 font-medium rounded-md text-sm px-5 py-2.5 text-center justify-center inline-flex items-center dark:focus:ring-gray-500 me-2 mb-2'
              href='#'>Demo Drive</a
            >
          </div>
          <p class='text-white text-xs pt-6'>
            *Excludes taxes and fees with price subject to change. Available in
            select states.
          </p>
        </footer>
      </div>

      <div class='absolute top-0 bottom-0 h-full w-full z-10'>
        <video
          class='object-cover h-full w-full'
          autoplay
          muted
          loop
          src='/models-video.webm'
        >
        </video>
      </div>
    </section>
  </main>
</Layout>
