---
import Logo from "../components/Logo.astro";
import Help from "../assets/icons/Help.astro";
import Language from "../assets/icons/Language.astro";
import Profile from "../assets/icons/Profile.astro";
---

<header
  class='py-3 px-10 flex items-center fixed w-full justify-between z-40 text-white'
>
  <div class='flex flex-grow basis-0'>
    <Logo />
  </div>
  <nav>
    <ul
      class='flex flex-wrap text-sm [&>li>a]:inline-block font-medium [&>li>a]:px-4 [&>li>a]:py-2'
    >
      <li><a href='#'>Model S</a></li>
      <li><a href='#'>Model 3</a></li>
      <li><a href='#'>Model X</a></li>
      <li><a href='#'>Model Y</a></li>
      <li><a href='#'>Cybertruck</a></li>
    </ul>
  </nav>

  <nav class='flex flex-grow justify-end
			 basis-0'>
    <ul
      class='flex flex-wrap text-sm [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2'
    >
      <li><a href='#'><Help /></a></li>
      <li><a href='#'><Language /></a></li>
      <li>
        <a href='#'>
          <Profile />
        </a>
      </li>
    </ul>
  </nav>
</header>
